body {
    background: #222;
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 512px;
    image-rendering: crisp-edges;
}